<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GasStation">
    <listeners>
        <listener class-name="tools.ZTestReport" />
    </listeners>

    <!-- 运行package下面的所有java类，按字母顺序执行-->
    <!--
    <test name="AllCase">
        <packages>
            <package name="org.example"/>
        </packages>
    </test>
    -->

    <!-- 运行package下面的所有java类，按先后顺序执行 -->

    <test name="AllCase">
        <classes>
            <class name="cases.Login" />
            <class name="cases.Shop" />
            <class name="cases.GasPrice" />
            <class name="cases.GasGun" />
            <class name="cases.TurnOver" />
            <class name="cases.MarketingReduction" />
            <class name="cases.MarketingDiscount" />
            <class name="cases.MarketingRecharge" />
            <class name="cases.Device" />
        </classes>
    </test>

</suite>